body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #575757;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.gallery-item {
    width: 30%;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .gallery-item {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-item {
        width: 100%;
    }
}
